<?php
/**
 * This is a sample local-config.php file
 * In it, you *must* include the four main database defines
 *
 * You may include other settings here that you only want enabled on your local development checkouts
 */

/** The name of the database for WordPress */
define('DB_NAME', '%%DB_NAME%%');

/** MySQL database username */
define('DB_USER', '%%DB_USER%%');

/** MySQL database password */
define('DB_PASSWORD', '%%DB_PASS%%');

/** MySQL hostname */
define('DB_HOST', '%%DB_HOST%%');
